version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    container_name: shopping-mall-backend

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    container_name: shopping-mall-frontend
    environment:
      - REACT_APP_API_URL=http://localhost:5000
